@charset "UTF-8";

.appName {
	font-size: 2.25em;
	vertical-align: middle;
	margin-left: 40px;
	padding: 8px 0;
}

#Authors {
	vertical-align: bottom;
	white-space: pre-line;
}

.errorMessage {
	color: red;
}

.metricEvaluation {
	font-weight: bold;
	padding-right: 18px;
}

.metricEvaluationGood {
	color: green;
}

.metricEvaluationWarning {
	color: orange;
}

.metricEvaluationBad {
	color: red;
}

.MetricConfigTip {
	font-size: small;
}

.button {
	cursor: pointer;
}

.no-background {
	background: none;
}

.dialog-header {
	margin-top: 0;
	margin-bottom: 1em;
}

.dialog-header::before {
	display: none;
}

.info-hover-icon {
	padding-left: 0.5em;
}

.custom-tooltip {
	inset: 18px 0 auto auto !important;
}